@use '../abstracts/' as *;

.tool {
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 2rem;

  span {
    width: 100px;
    @include grid(center);
    border: 1px solid $secondaryColor;

    svg {
      height: 100px;
      object-fit: cover;
    }
  }
}
