@use '../abstracts/' as *;

.tool {
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 2rem;

  span {
    padding: 0.5rem;
    @include grid(center);
    border: 1px solid $secondaryColor;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
  }
}
