@use '../abstracts/' as *;
@use '../base/typo' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontStack;
  font-size: $fontSize;
}
body {
  background-color: $secondaryTextColor;
}
.container {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  @include flex(column, space-between, center);
  gap: 2rem;
}
