@use '../abstracts/'as *;

.about {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  @include flex(column, center, center);
  gap: 2rem;
  background-color: $secondaryTextColor;
  border-radius: $borderRadius;

  &__header {
    width: 100%;
    max-width: 300px;
    @include grid(center);

    img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border: 5px solid $secondaryColor;
      border-radius: 50%;
    }
  }
  &__body {
    width: 100%;
    max-width: 400px;
    padding: 0 3rem;
    @include grid(center);

    p {
      font-size: 1.8rem;
      font-weight: 300;
      text-align: center;
      color: $primaryTextColor;
    }
  }
}

@media (min-width: $tablet) {
  .about {
    flex-direction: row;

    &__body {
      justify-content: space-between;
      gap: 2rem;
      padding: 0 2rem;

      p {
        text-align: left;
      }
    }
  }
}
