$bgColor: rgba(28, 136, 148, 1);

$secondaryColor: rgba(224, 78, 62, 1);
$primaryTextColor: rgba(11, 22, 20, 1);
$secondaryTextColor: rgba(255, 255, 255, 1);
$logoColor: rgba(198, 236, 234, 1);
$overlayColor: rgba(0, 0, 0, 0.3);

$boxShadow: 0 2px 15px 5px rgba(0, 0, 0, 0.2);
$boxShadowHover: 0 2px 15px 5px rgba(0, 0, 0, 0.5);
$borderRadius: 0.4rem;
