$bgColor: rgba(48, 179, 172, 1);
$secondaryColor: rgba(255, 150, 94, 1);
$primaryTextColor: rgba(11, 22, 20, 1);
$secondaryTextColor: rgba(255, 255, 255, 1);
$logoColor: rgba(198, 236, 234, 1);
$overlayColor: rgba(0, 0, 0, 0.2);

$boxShadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$borderRadius: 0.4rem;
