$bgColor: #1c8894;

$secondaryColor: rgba(224, 78, 62, 1);
$primaryTextColor: rgba(11, 22, 20, 1);
$secondaryTextColor: rgba(255, 255, 255, 1);
$logoColor: rgba(198, 236, 234, 1);
$overlayColor: rgba(0, 0, 0, 0.3);

$boxShadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.2);
$boxShadowHover: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
$boxShadow-3: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

$borderRadius: 0.4rem;
$blurEffectColor: rgba(255, 255, 255, 0.1);
$overlayColor: rgba(0, 0, 0, 0.1);

$typewriterSpeed: 4s;
$typewriterCharacters: 15;
