@use '../abstracts/' as *;
@use '../components/' as *;

.footer {
  width: 100%;
  padding: 3rem 0;
  @include grid(center);
  background-color: darken($bgColor, 10);

  &__links {
    width: 80%;
    max-width: 400px;
    @include flex(row, center, center);
    gap: 3rem;

    a {
      border-radius: $borderRadius;
      @include grid(center);
      transition: all 0.6s ease-in-out;

      &:hover {
        color: $secondaryColor;
        background-color: darken($bgColor, 20);
        box-shadow: $boxShadowHover;
        transform: scale(0.99);
      }
    }
  }
}
