@use '../abstracts/' as *;
@use '../components/' as *;

.footer {
  width: 100%;
  margin-top: 10rem;
  @include grid(center);
  background-color: darken($bgColor, 10);

  &__links {
    width: 50%;
    @include grid(center);
    gap: 2rem;

    a {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
}
