@use '../abstracts/' as *;

.header {
  width: 100%;
  height: 50vh;
  margin: 10rem auto;
  background-color: $secondaryTextColor;
  @include flex(row, center, center);

  .heroText {
    width: 80%;
    margin: 4rem auto;
    background-color: transparent;
  }

  h1 {
    font-size: 3.6rem;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;

    span {
      font-size: 4.0rem;
      font-weight: 400;
      color: $secondaryColor;
    }
  }
  p {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem 0;
    text-align: center;
  }
}
