@use '../abstracts/' as *;
@use '../pages/' as *;

.main {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  @include grid(center);
  grid-template-columns: 1fr;
  gap: 10rem;

  section {
    width: 80%;
    min-height: 30vh;
    margin: 0 auto;
    padding: 5rem 0;
  }
}
