@use '../abstracts/' as *;

.nav {
  width: 100%;
  height: 8.7rem;
  position: fixed;
  top: 0;
  left: 0;
  @include flex(column, space-between, center);

  .logo {
    width: 150px;
    padding: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    @include grid(center);
    z-index: 9;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .navBar {
    width: 100%;
    height: 100vh;
    padding: 2rem 0;
    list-style: none;
    @include flex(column, center, center);
    position: absolute;
    top: 0;
    right: -100%;
    transition: all 0.6s ease-in-out;

    &.open {
      right: 0%;
    }

    li {
      width: 100%;
      font-weight: 300;
      font-size: 1.8rem;
      margin: 0.5rem;
      padding: 1.2rem 2.4rem;
      text-align: center;

      a {
        width: 100%;
        display: block;
        padding: 1.2rem 2.4rem;
        text-decoration: none;
        color: $secondaryTextColor;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 0.1rem;
          transform: translateY(1rem);
          background-color: $secondaryColor;
          transition: all 0.6s ease-in-out;
        }

        &:hover:before {
          width: 100%;
        }

        &.active::before {
          width: 100%;
          height: 0.3rem;
        }
      }
    }
  }

  .hamburger {
    font-family: $fontStack;
    font-weight: 300;
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transform: translate(-50% -50%);
    transition: all 0.6s ease-in-out;

    &.open {
      transform: rotate(180deg);
    }
  }
}
@media (min-width: $tablet) {
  .nav {
    flex-direction: row;

    .navBar {
      width: 80%;
      height: 100%;
      right: 0;
      flex-direction: row;

      li {
        width: auto;
      }
    }

    .hamburger {
      display: none;
    }
  }
}
