@use '../abstracts/' as *;

.nav {
  width: 100%;
  min-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  @include flex(column, space-between, center);

  .logo {
    width: 150px;
    padding: 2rem;
    @include grid(center);

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .navBar {
    width: 100%;
    padding: 2rem 0;
    list-style: none;
    @include flex(column, space-between, center);
    position: relative;

    li {
      width: 100%;
      font-weight: 300;
      font-size: 1.8rem;
      margin: 0.5rem;
      padding: 1.2rem 2.4rem;

      text-align: center;

      a {
        width: 100%;
        display: block;
        padding: 1.2rem 2.4rem;
        text-decoration: none;
        color: $secondaryTextColor;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 0.2rem;
          transform: translateY(1rem);
          background-color: $secondaryColor;
          transition: all 0.6s ease-in-out;
        }

        &:hover:before {
          width: 100%;
        }
      }
    }
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 3.5rem;
    right: 2rem;

    &.open {
      color: $secondaryTextColor;
    }
  }
}
@media (min-width: $tablet) {
  .nav {
    flex-direction: row;

    .navBar {
      width: auto;
      flex-direction: row;
      margin: 0;

      li {
        width: auto;
      }
    }

    .hamburger {
      display: none;
    }
  }
}
