@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@300;400;600&display=swap");
h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 2.4rem;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 3rem auto;
  padding: 1.2rem 3rem;
  outline: none;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
button:hover {
  transform: scale(0.98);
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

body {
  background-color: white;
}

.container {
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav {
  width: 100%;
  height: 8.7rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1c8894;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav .logo {
  width: 150px;
  padding: 2rem;
  position: absolute;
  left: 2rem;
  top: 0;
  display: grid;
  place-items: center;
  z-index: 9;
}
.nav .logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.nav .navBar {
  width: 100%;
  height: 100vh;
  padding: 2rem 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #1c8894;
  transition: all 0.6s ease-in-out;
}
.nav .navBar.open {
  right: 0%;
}
.nav .navBar li {
  width: 80%;
  font-weight: 300;
  font-size: 1.8rem;
  margin: 0.5rem auto;
  text-align: center;
}
.nav .navBar li a {
  width: 100%;
  display: block;
  padding: 1.2rem 2.4rem;
  text-decoration: none;
  color: white;
  position: relative;
}
.nav .navBar li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.2rem;
  transform: translateY(0.5rem);
  background-color: #e04e3e;
  transition: all 0.6s ease-in-out;
}
.nav .navBar li a:hover:before {
  width: 100%;
}
.nav .navBar li a.active::before {
  width: 100%;
  height: 0.3rem;
}
.nav .hamburger {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: block;
  position: absolute;
  top: 2rem;
  right: 4rem;
  z-index: 9;
  transition: all 0.6s ease-in-out;
}
.nav .hamburger.open {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }
  .nav .navBar {
    width: 80%;
    height: 100%;
    right: 0;
    flex-direction: row;
  }
  .nav .navBar li {
    width: auto;
  }
  .nav .hamburger {
    display: none;
  }
}
.header {
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1c8894;
}
.header .heroText {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem 4rem;
  border: none;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #146169;
}
.header .heroText h1 {
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}
.header .heroText h1 span {
  font-size: 6rem;
  font-weight: 400;
  color: #e04e3e;
}
.header .heroText p {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 300;
  padding: 1rem 0;
  text-align: center;
}
.header .heroText p span {
  font-size: 2rem;
  font-weight: 400;
  padding: 0 1rem;
}

.btn__primary {
  color: white;
  background-color: #e04e3e;
  border: none;
  border-radius: 0.4rem;
}

.tool {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.tool span {
  display: grid;
  place-items: center;
  border: 1px solid #e04e3e;
  border-radius: 0.4rem;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
}

.about {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: white;
  border-radius: 0.4rem;
}
.about__header {
  width: 100%;
  max-width: 300px;
  display: grid;
  place-items: center;
}
.about__header img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 5px solid #e04e3e;
  border-radius: 50%;
}
.about__body {
  width: 100%;
  max-width: 400px;
  padding: 0 3rem;
  display: grid;
  place-items: center;
}
.about__body p {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  color: #0b1614;
}

@media (min-width: 768px) {
  .about {
    flex-direction: row;
  }
  .about__body {
    justify-content: space-between;
    gap: 2rem;
    padding: 0 2rem;
  }
  .about__body p {
    text-align: left;
  }
}
.projects {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #1c8894;
  gap: 2rem;
  border-radius: 0.4rem;
}
.projects__item {
  width: 80%;
  height: 15rem;
  padding: 2rem 0;
  display: grid;
  place-items: center;
  border-radius: 0.4rem;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.2);
  gap: 2rem;
  transition: all 0.5s ease-in-out;
}
.projects__item:hover {
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.4);
  transform: scale(0.99);
}
.projects__item a {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 3rem;
  border: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.tools {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.tools__header {
  width: 80%;
  padding: 3rem 0;
  display: grid;
  place-items: center;
}
.tools__header h4 {
  width: 70%;
  font-size: clamp(2.5rem, 3vw, 3.5rem);
  font-weight: 700;
  text-align: center;
}
.tools__body {
  padding: 3rem 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.main {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 10rem;
}
.main section {
  width: 80%;
  min-height: 60vh;
  margin: 0 auto;
  padding: 3rem 0;
}

.footer {
  width: 100%;
  padding: 3rem 0;
  display: grid;
  place-items: center;
  background-color: #146169;
}
.footer__links {
  max-width: 400px;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.footer__links a {
  display: grid;
  place-items: center;
  transition: all 0.6s ease-in-out;
}
.footer__links a:hover {
  color: #e04e3e;
  background-color: #0c393e;
  box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.4);
  transform: scale(0.99);
}

/*# sourceMappingURL=styles.css.map */
